<div class="login-box-body claim-fields content-wrapper process-claim">
    <div class="row no-padding">
        <div class="col-lg-10"><h2>All Contracts</h2></div>
        <div class="col-lg-2"><a class="pull-right btn btn-success" href="javascript:void(0)" [routerLink]="['/policy']">Create</a></div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <input type="hidden" id="hdnPolicyCode" />
            <input type="button" class="hide_column" id="btnShowPolicy" (click)="showPolicyByPolicyCode()" />
            <div class="table-responsive col-lg-12">
                <table id="tblPolicies" class="table  table-bordered table-responsive  jambo_table table-striped">
                    <thead>
                        <tr>
                            <th>View</th>
                            <th>Contract#</th>
                            <th>Serial#</th>
                            <th>Product Group</th>
                            <th>Product Sub Group</th>
                            <th>Starts On</th>
                            <th>Expires On</th>
                            <th>Dealer</th>
                            <th>Customer</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
</div>
