<div class="login-box-body claim-fields content-wrapper process-claim">
    <div class="row no-padding">
        <div class="col-lg-12"><h2>Contract Detail</h2></div>
    </div>
    <form class="form-horizontal " novalidate (ngSubmit)="getPolicyByCriteria()" #viewPolicyForm="ngForm">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group" [ngClass]="{'has-error': (uINumberVar.touched || uINumberVar.dirty) && !uINumberVar.valid }">
                    <label class="col-md-4 control-label" for="uINumber">Chassis No/VINO :</label>
                    <div class="col-md-8">
                        <input class="form-control" id="txtUINumber" type="text" placeholder="Chasis No" [(ngModel)]="policy.UINumber" name="uINumber" value="{{policy.UINumber}}" #uINumberVar="ngModel" min="15" required />
                    </div>
                </div>
            </div>
            <div class="col-lg-1"><button class="pull-right btn btn-success" [disabled]="!viewPolicyForm.valid || policy.UINumber == undefined || policy.UINumber.length < 15" type="submit">View</button></div>
            <div class="col-lg-1"><button class="pull-right btn btn-danger" type="button" (click)="policy.UINumber=undefined;policy.CategoryId=undefined;">Clear</button></div>
        </div>
    </form>
    <div class="row disabled-content">
        <div class="col-lg-12">
            <form class="form-horizontal" [ngClass]="{'hidden' : (policy.CategoryId == undefined) }" disabled>
                <!--dealer information-->
                <fieldset>
                    <legend>Contract Information</legend>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="userNameId">Contract No :</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="txtPolicyNumber" type="text" placeholder="Contract Number" [(ngModel)]="policy.PolNumber" value="{{policy.PolicyNo}}" name="policyNumber" #policyNumberVar="ngModel" required disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="issueDate">Issue Date :</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="txtIssueDate" type="date" placeholder="Issue Date" [(ngModel)]="policy.IssueDate" name="issueDate" value="{{policy.IssueDate}}" #issueDateVar="ngModel" />
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" [ngClass]="{'has-error': (clientRefNumVar.touched || clientRefNumVar.dirty) && !clientRefNumVar.valid }">
                                <label class="col-md-4 control-label no-padding" for="clientRefNum">Client Ref No :</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="txtclientRefNum" type="text" placeholder="Client Ref No" [(ngModel)]="policy.ClientRefNum" name="clientRefNum" value="{{policy.ClientRefNum}}" #clientRefNumVar="ngModel" required />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group" [ngClass]="{'has-error': (selectedDealerIDVar.touched || selectedDealerIDVar.dirty) && !selectedDealerIDVar.valid }">
                                <label class="col-lg-3 control-label">Dealer : </label>
                                <div class="col-lg-9">
                                    <select class="form-control" name="dealerID" #selectedDealerIDVar="ngModel" [(ngModel)]="policy.DealerID" required>
                                        <option selected="selected" value="undefined">Select Dealer</option>
                                        <option *ngFor="let c of dropdowns.dealers" value={{c.DealerCode}}>
                                            {{c.DealerName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group"
                                 [ngClass]="{'has-error': (selectedBranchCodeVar.touched || selectedBranchCodeVar.dirty) && !selectedBranchCodeVar.valid }">
                                <label class="col-lg-3 control-label">Claim Branch : </label>
                                <div class="col-lg-9">
                                    <select class="form-control" name="claimBranch" #selectedBranchCodeVar="ngModel" [(ngModel)]="policy.BranchID" required>
                                        <option selected="selected" value="undefined">Select Branch</option>
                                        <option *ngFor="let b of dropdowns.dealerBranches" [ngValue]="b.DealerBranchID">
                                            {{b.DealerBranchName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <fieldset>
                                <legend>Uploaded Documents:</legend>
                                <div class="form-group"
                                     [ngClass]="{'has-error': (documentVar.touched || documentVar.dirty) && !documentVar.valid }">
                                    <label class="col-md-3 control-label" for="document">Select File:</label>
                                    <div class="col-md-2">
                                        <input class="form-control" id="txtDocument" type="file" placeholder="Document" [(ngModel)]="policy.document" name="document"
                                               #documentVar="ngModel" multiple />
                                    </div>
                                    <span class="col-md-2" [ngClass]="{'hidden': files.length == 0}">
                                        <a class="btn btn-danger" (click)="clearFiles()">Clear</a>
                                    </span>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <div class="documents" [ngClass]="{'hidden': files.length == 0 }">
                                <h2>Added Documents</h2>
                                <ol>
                                    <li *ngFor="let file of files">
                                        <span>
                                            <a href="/Content/PolicyForms/{{file.name}}" target="_blank">{{file.name}} </a>
                                            <span (click)="deleteFile(file.name,index,$event)" class=" fa fa-close"></span>
                                        </span>
                                    </li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </fieldset>
                <!--customer information-->
                <fieldset>
                    <legend> Customer Information</legend>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group" [ngClass]="{'has-error': (customerNameVar.touched || customerNameVar.dirty) && !customerNameVar.valid }">
                                <label class="col-md-3 control-label" for="dealerName">Customer Name :</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="txtCustomerName" type="text" placeholder="Customer Name" [(ngModel)]="policy.CustomerName" name="customerName" value="{{policy.CustomerName}}" #customerNameVar="ngModel" required />
                                </div>
                            </div>
                            <div class="form-group"
                                 [ngClass]="{'has-error': (mobileNoVar.touched || mobileNoVar.dirty) && !mobileNoVar.valid }">
                                <label class="col-md-3 control-label" for="mobileNo">Mobile No :</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="txtMobileNo" type="text" placeholder="Mobile No" [(ngModel)]="policy.MobileNum" name="mobileNo"
                                           #mobileNoVar="ngModel" required />
                                    <!--<span class="help-block" *ngIf="(userNameVar.touched || userNameVar.dirty) && userNameVar.errors">
                                        <span *ngIf="userNameVar.errors.required">User name is required. </span>
                                    </span>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="dealerName">Email :</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="txtEmail" type="text" placeholder="Email" [(ngModel)]="policy.Email" name="email" value="{{policy.Email}}" #emailVar="ngModel" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="city">City :</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="txtCity" type="text" placeholder="City" [(ngModel)]="policy.City" name="city" value="{{policy.City}}" #cityVar="ngModel" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-1 control-label " style="width: 12.499999995%" for="address">Address :</label>
                                <div class="col-md-10" style="width:87.5%">
                                    <textarea class="form-control" id="txtAddress" type="text" placeholder="Address" [(ngModel)]="policy.Address" name="address" value="{{policy.Address}}" #addressVar="ngModel"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>



                </fieldset>
                <!--vehicle information-->

                <fieldset>
                    <legend>Vehicle Information</legend>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group"
                                 [ngClass]="{'has-error': (selectedMakeIDVar.touched || selectedMakeIDVar.dirty) && !selectedMakeIDVar.valid }">
                                <label class="col-lg-3 no-padding text-right">Make : </label>
                                <div class="col-lg-9">
                                    <select class="form-control" name="make" #selectedMakeIDVar="ngModel" [(ngModel)]="policy.MakeId" required>
                                        <option selected="selected" value="undefined">Select Make</option>
                                        <option *ngFor="let m of dropdowns.makes" value={{m.MakeID}}>
                                            {{m.MakeName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group"
                                 [ngClass]="{'has-error': (selectedModelIDVar.touched || selectedModelIDVar.dirty) && !selectedModelIDVar.valid }">
                                <label class="col-lg-3 no-padding text-right">Model : </label>
                                <div class="col-lg-9">
                                    <select class="form-control" name="model" #selectedModelIDVar="ngModel" [(ngModel)]="policy.ModelId" required>
                                        <option selected="selected" value="undefined">Select Model</option>
                                        <option *ngFor="let m of dropdowns.models" value={{m.ModelID}}>
                                            {{m.ModelName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group"
                                 [ngClass]="{'has-error': (selectedModelYearIDVar.touched || selectedModelYearIDVar.dirty) && !selectedModelYearIDVar.valid }">
                                <label class="col-lg-3 no-padding text-right">Model Year : </label>
                                <div class="col-lg-9">
                                    <select class="form-control" name="modelYear" #selectedModelYearIDVar="ngModel" [(ngModel)]="policy.ModelYearId" required>
                                        <option selected="selected" value="undefined">Select Model Year</option>
                                        <option *ngFor="let m of dropdowns.modelYears" value={{m.ModelYearID}}>
                                            {{m.ModelYearName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group"
                                 [ngClass]="{'has-error': (selectedCategoryIDVar.touched || selectedCategoryIDVar.dirty) && !selectedCategoryIDVar.valid }">
                                <label class="col-lg-3 no-padding text-right">Category : </label>
                                <div class="col-lg-9">
                                    <select class="form-control" name="category" #selectedCategoryIDVar="ngModel" [(ngModel)]="policy.CategoryId" required>
                                        <option selected="selected" value="undefined">Select Category</option>
                                        <option *ngFor="let m of dropdowns.categories" value={{m.CategoryID}}>
                                            {{m.CategoryName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" [ngClass]="{'has-error': (selectedCCRangeVar.touched || selectedCCRangeVar.dirty) && !selectedCCRangeVar.valid }">
                                <label class="col-lg-3 no-padding text-right">CC Range : </label>
                                <div class="col-lg-9">
                                    <select class="form-control" name="cCRange" #selectedCCRangeVar="ngModel" [(ngModel)]="policy.CCRangeId" required>
                                        <option selected="selected" value="undefined">Select CC Range</option>
                                        <option *ngFor="let c of dropdowns.ccRanges" value={{c.CCRangeID}}>
                                            {{c.CCRangeName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group" [ngClass]="{'has-error': (cCVar.touched || cCVar.dirty) && !cCVar.valid }">
                                <label class="col-md-3 control-label no-padding text-right" for="cC">Cubic Capacity : </label>
                                <div class="col-md-9">
                                    <input class="form-control" id="txtCC " type="text" placeholder="Cubic Capacity" [(ngModel)]="policy.CC" name="cc" value="{{policy.CC}}"
                                           #cCVar="ngModel" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="col-lg-3 no-padding text-right">Registration No : </label>
                                <div class="col-md-9">
                                    <input class="form-control" id="txtRegistrationNo" type="text" placeholder="Registration No" [(ngModel)]="policy.RegNumber" name="registrationNo" value="{{policy.RegistrationNo}}"
                                           #registrationNoVar="ngModel" />
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label no-padding text-right" for="cC">Registration Date : </label>
                                <div class="col-md-9">
                                    <input class="form-control" id="txtRegistrationDate " type="date" placeholder="Registration Date" [(ngModel)]="policy.RegDate" name="registrationDate" value="{{policy.RegistrationDate}}"
                                           #registrationDateVar="ngModel" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" [ngClass]="{'has-error': (chassisNoVar.touched || chassisNoVar.dirty) && !chassisNoVar.valid }">
                                <label class="col-md-3 control-label no-padding text-right" for="chassisNo">VI/Chassis No:</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="txtChassisNo" type="text" placeholder="VI/Chassis No" [(ngModel)]="policy.UINumber" name="chassisNo" value="{{policy.VINo}}"
                                           #chassisNoVar="ngModel" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label no-padding text-right" for="productPrice">Product Price : </label>
                                <div class="col-md-9">
                                    <input class="form-control" id="txtProductPrice " type="number" placeholder="Product Price" [(ngModel)]="policy.ProductPrice" name="productPrice" value="{{policy.ProductPrice}}"
                                           #productPriceVar="ngModel" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" [ngClass]="{'has-error': (currentMileageVar.touched || currentMileageVar.dirty) && !currentMileageVar.valid }">
                                <label class="col-md-3 control-labe no-padding text-right" for="currentMileage">Current Mileage :</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="txtCurrentMileage" type="text" placeholder="Current Mileage" [(ngModel)]="policy.CurrentMileage" name="currentMileage" value="{{policy.CurrentMileage}}" #currentMileageVar="ngModel" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label no-padding text-right" for="chassisNo">Plate Type :</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="txtPlateType" type="text" placeholder="Plate Type" [(ngModel)]="policy.PlateType" name="plateType" value="{{policy.PlateType}}"
                                           #plateTypeVar="ngModel" />
                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>
                <!--policy information-->
                <fieldset>
                    <legend> Contract Information</legend>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group"
                                 [ngClass]="{'has-error': (selectedProductGroupVar.touched || selectedProductGroupVar.dirty) && !selectedProductGroupVar.valid }">
                                <label class="col-lg-3 no-padding text-right">Product Group : </label>
                                <div class="col-lg-9">
                                    <select class="form-control" name="productGroupID" #selectedProductGroupVar="ngModel" [(ngModel)]="policy.ProductGroupId" required>
                                        <option selected="selected" value="undefined">Select Product Group</option>
                                        <option *ngFor="let c of dropdowns.productGroups" value={{c.ProductGroupCode}}>
                                            {{c.ProductGroupName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group"
                                 [ngClass]="{'has-error': (selectedProductSubGroupVar.touched || selectedProductSubGroupVar.dirty) && !selectedProductSubGroupVar.valid }">
                                <label class="col-lg-3 no-padding text-right">Product Sub Group : </label>
                                <div class="col-lg-9">
                                    <select class="form-control" name="productSubGroupID" #selectedProductSubGroupVar="ngModel" [(ngModel)]="policy.ProductSubGroupId" required>
                                        <option selected="selected" value="undefined">Select Product Sub Group</option>
                                        <option *ngFor="let c of dropdowns.productSubGroups" value={{c.SubGroupCode}}>
                                            {{c.SubGroupName}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" [ngClass]="{'has-error': (soldDateVar.touched || soldDateVar.dirty) && !soldDateVar.valid }">
                                <label class="col-md-3 control-label" for="SoldDate">Sold Date :</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="txtSoldDate" type="date" placeholder="Sold Date" [(ngModel)]="policy.SoldDate" name="soldDate" value="{{policy.SoldDate}}" #soldDateVar="ngModel" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group"
                                 [ngClass]="{'has-error': (selectedManuDurationVar.touched || selectedManuDurationVar.dirty) && !selectedManuDurationVar.valid }">
                                <label class="col-lg-3 no-padding text-right">Manufacturer's Warranty Duration : </label>
                                <div class="col-lg-9">
                                    <select class="form-control" name="manuDuration" #selectedManuDurationVar="ngModel" [(ngModel)]="policy.ManuDuration" required>
                                        <option selected="selected" value="undefined">Select Manufacturer Warranty Duration</option>
                                        <option value="0">0</option>
                                        <option value="12">12</option>
                                        <option value="24">24</option>
                                        <option value="36">36</option>
                                        <option value="48">48</option>
                                        <option value="60">60</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': (selectedExtDurationVar.touched || selectedExtDurationVar.dirty) && !selectedExtDurationVar.valid }">
                                <label class="col-lg-3 no-padding text-right">Extended Warranty Duration : </label>
                                <div class="col-lg-9">
                                    <select class="form-control" name="extDuration" #selectedExtDurationVar="ngModel" [(ngModel)]="policy.ExtDuration" required>
                                        <option selected="selected" value="undefined">Select Extended Warranty Duration</option>
                                        <option *ngFor="let c of dropdowns.durations " value={{c.DurationID}}>
                                            {{c.DurationName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group"
                                 [ngClass]="{'has-error': (selectedManuCutoffVar.touched || selectedManuCutoffVar.dirty) && !selectedManuCutoffVar.valid }">
                                <label class="col-lg-4 no-padding text-right">Manufacturer's Warranty Mileage Cutoff : </label>
                                <div class="col-lg-8">
                                    <select class="form-control" name="manuCutoff" #selectedManuCutoffVar="ngModel" [(ngModel)]="policy.ManuCutoff" required>
                                        <option selected="selected" value="undefined">Select Manufacturer Warranty Mileage Cutoff</option>
                                        <option value="0">0</option>
                                        <option value="10000">10000</option>
                                        <option value="20000">20000</option>
                                        <option value="20000">25000</option>
                                        <option value="40000">40000</option>
                                        <option value="50000">50000</option>
                                        <option value="60000">60000</option>
                                        <option value="100000">100000</option>
                                        <option value="150000">150000</option>
                                        <option value="200000">200000</option>
                                        <option value="999999">999999</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group"
                                 [ngClass]="{'has-error': (selectedExtCutoffVar.touched || selectedExtCutoffVar.dirty) && !selectedExtCutoffVar.valid }">
                                <label class="col-lg-4 no-padding text-right">Extended Warranty Mileage Cutoff : </label>
                                <div class="col-lg-8">
                                    <select class="form-control" name="extCutoff" #selectedExtCutoffVar="ngModel" [(ngModel)]="policy.ExtCutoff" required>
                                        <option selected="selected" value="undefined">Select Extfacturer Warranty Mileage Cutoff</option>
                                        <option value="0">0</option>
                                        <option value="10000">10000</option>
                                        <option value="20000">20000</option>
                                        <option value="20000">25000</option>
                                        <option value="40000">40000</option>
                                        <option value="50000">50000</option>
                                        <option value="60000">60000</option>
                                        <option value="100000">100000</option>
                                        <option value="150000">150000</option>
                                        <option value="200000">200000</option>
                                        <option value="999999">999999</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label " for="address">Remarks :</label>
                                <div class="col-md-9">
                                    <textarea class="form-control" id="txtRemarks" type="text" rows="4" placeholder="Remarks" [(ngModel)]="policy.Remarks" name="remarks" value="{{policy.Remarks}}" #remarksVar="ngModel"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">




                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label no-padding" for="extendedWarrantyStartDate">Extended Warranty Start Date</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="txtExtendedWarrantyStartDate" type="date" placeholder="Extended Warranty Start Date" [(ngModel)]="policy.StartDate" value="{{policy.StartDate}}" name="extendedWarrantyStartDate" #extendedWarrantyStartDateVar="ngModel" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label no-padding" for="extendedWarrantyExpiryDate">Extended Warranty Expiry Date:</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="txtExtendedWarrantyExpiryDate" type="date" placeholder="Extended Warranty Expiry Date" [(ngModel)]="policy.ExpiryDate" name="extendedWarrantyExpiryDate" value="{{policy.ExpiryDate}}" #extendedWarrantyExpiryDateVar="ngModel" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label no-padding" for="manufacturerWarrantyExpiryDate">Manufacturer Warranty Expiry Date:</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="txtManufacturerWarrantyExpiryDate" type="date" placeholder="Manufacturer Warranty Expiry Date" [(ngModel)]="policy.ManuExpiryDate" name="manufacturerWarrantyExpiryDate" value="{{policy.ManuExpiryDate}}" #manufacturerWarrantyExpiryDateVar="ngModel" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group" [ngClass]="{'has-error': (limitPerClaimVar.touched || limitPerClaimVar.dirty) && !limitPerClaimVar.valid }">
                                <label class="col-md-3 control-label text-right no-padding" for="limitPerClaim">Limit Per Claim :</label>
                                <div class="col-md-9">
                                    <select class="form-control" name="claimLimit" #limitPerClaimVar="ngModel" [(ngModel)]="policy.ClaimLimit" required>
                                        <option selected="selected" value="undefined">Select Limit Per Claim</option>
                                        <option *ngFor="let c of dropdowns.claimLimits" value={{c.ClaimLimitName}}>
                                            {{c.ClaimLimitName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group"
                                 [ngClass]="{'has-error': (selectedStatusVar.touched || selectedStatusVar.dirty) && !selectedStatusVar.valid }">
                                <label class="col-lg-3 no-padding text-right">Status : </label>
                                <div class="col-lg-9">
                                    <select class="form-control" name="status" #selectedStatusVar="ngModel" [(ngModel)]="policy.Status" required>
                                        <option selected="selected" value="undefined">Select Status</option>
                                        <option value="0">Approved</option>
                                        <option value="12">Rejected</option>
                                        <option value="24">Pending</option>
                                        <option value="48">Cancelled</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" [ngClass]="{'has-error': (soldByVar.touched || soldByVar.dirty) && !soldByVar.valid }">
                                <label class="col-md-4 control-label no-padding" for="soldBy">Sold By:</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="txtSold By" type="text" placeholder="Sold By" [(ngModel)]="policy.SoldBy" name="soldBy" value="{{policy.SoldBy}}" #soldByVar="ngModel" required />
                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>


            </form>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-lg-12"  [ngClass]="{'hidden' : (policy.CategoryId == undefined) }">

            <a href="javascript:void(0);" (click)="showTermsAndConditions()">Please click here to view the terms & condition/coverage. </a>
        </div>
    </div>
</div>
